/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Genaral page styling */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

/* Utility */
.container {
  background-image: url("../img/pexels-pixabay-258154.jpg");
  /* height: 1000px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#logo {
  display: inline;
  height: 80px;
}

a {
  color: ;
  text-decoration: none;
}

#landingPage {
  color: brown;
  text-align: center;
  padding-top: 370px;
  padding-bottom: 370px;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}
/* Navigation Bar */
#navBar {
  background: ;
  color: #b45f06;
  overflow: auto;
}

#navBar a {
  color: #b45f06;
  font-weight: 600;
  font-size: 20px;
}

.symbol {
  float: left;
  padding-top: 20px;
  margin-left: 20px;
}

#enchanted {
  font-size: 30px;
}

#navBar ul {
  list-style: none;
  float: right;
}

#navBar ul li {
  float: left;
}

#navBar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navBar ul li a:hover {
  background: #cd7f32;
  color: blanchedalmond;
}

#enchanted {
  font-size: 30px;
}

/* #about {
  background-image: url("../img/pexels-pixabay-258154.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */
#home {
  color: #b45f06;
  font-size: 50px;
}

#tagline {
  color: #cd7f32;
  font-size: 30px;
  font-style: italic;
}

#btn {
  background-color: blanchedalmond;
  color: blanchedalmond;
}

/* About Section */
#subheading {
  color: #b45f06;
}

#about h3 {
  color: #b45f06;
}

#float {
  height: 500px;
  width: 100%;
  max-width: 960px;
  overflow: hidden;
}

.about-content {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  padding: 50px 30px;
  text-align: center;
  /* float: left;
  width: 45%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden; */
}

.about-text {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  padding: 50px 30px;
  text-align: center;
  /* height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden; */
}

/* .about-text p {
  float
} */
